.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #E3E3E3;
    text-align: center;
    padding: 5px 1px 4px 22px;
    width: 100%;
  & i {
    font-size: 25px;
  }
}
